<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>发布列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <script src="js/rem.js"></script>
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <link rel="stylesheet" type="text/css" href="css/all.css"/>
    <link rel="stylesheet" type="text/css" href="css/mui.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/loaders.min.css"/>
	<link rel="stylesheet" type="text/css" href="iconfont/iconfont.css"/>
</head>
	<body>
		<!--header star-->
		<header class="mui-bar mui-bar1 mui-bar-nav mui-bar-nav1" id="header">
			<a class="back-btn" href="javascript:history.go(-1)">
	            <i class="iconfont icon-fanhui"></i>
	        </a>
	       <div class="mui-title">发布帖子</div>
	    </header>
	    <!--header end-->
	    <div class="warp clearfloat" id="app3">
			<div id="myTabContent" class="tab-content" style="background: #fff; padding: 0.4rem;">
				<div class="tab-pane fade in active" id="xinxi">
					<form role="form">
						<div class="form-group login-group_re">
							<span>时间：</span>
							<input type="text" class="form-control inpt-form" id="name" placeholder="请输入时间,不输入则默认为当前时间" v-model="time">
						</div>
						<div class="form-group login-group_re">
							<span>地点：</span>
							<input type="text" class="form-control inpt-form" id="address" placeholder="请输入地点，默认为上海交通大学" v-model='address'>
						</div>
						<div class="form-group login-group_re">
							<span>说明：</span>
							<input type="text" class="form-control inpt-form" id="introduce" placeholder="请输入说明" v-model='discription'>
						</div>
						<a href="list.html" >
							<button type="button" class="conf-btn login-btns" @click="post" >发布</button>
						</a>
					</form>
				</div>
			</div>
	    </div>
		<script type="text/javascript" src="js/jquery-1.8.3.min.js" ></script>
		<script type="text/javascript" src="js/hmt.js" ></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <script>
            var app3=new Vue({
                el:'#app3',
                data:{
                    time:'',
                    address:'',
                    discription:''
                },
                methods:{
                    post:function (){
                        var that=this
                        alert('开始发送数据')
                        axios.post('http://127.0.0.1:8000/post/',{
                            time:that.time,
                            address:that.address,
                            discription:that.discription,
                        }).then(function (response){
                            alert(response.data['发布结果'])
                        }).catch(function (err){
                            console.log(err)
                        })
                    }
                }
            })
        </script>
	</body>
	
</html>
